
/* .container {
  border: 1px solid red;
  width: 500px;
  height: 500px;
  display: flex;
}

.item1 {
  border: 1px solid rgb(143, 112, 112);
  width: 50px;
  height: 50px;
  order: 4;
}
.item2 {
  border: 1px solid rgb(143, 112, 112);
  width: 50px;
  height: 50px;
  order: 5;
}
.item3 {
  border: 1px solid rgb(143, 112, 112);
  width: 50px;
  height: 50px;
  order: 2;
}
.item4 {
  border: 1px solid rgb(143, 112, 112);
  width: 50px;
  height: 50px;
  order: 1;
}
.item5 {
  border: 1px solid rgb(143, 112, 112);
  width: 50px;
  height: 50px;
  order: 3;
} */

/* =================================== */


.container {
  display: flex;
  max-width: 960px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid teal;
}

.sidebar {
  flex-basis: 250px;
  margin-right: 24px;
}

.content {
  flex-grow: 5;
}

.sidebar,
.content {
  height: 350px;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid teal;
  background-color: rgb(214, 146, 146);
}


/* ======================================================================== */

