

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
body{
  margin: 0;
}
ul{
  display: flex;
  list-style: none;
}
.hero{
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-image: url(img/hero-image.jpg);
  background-repeat: no-repeat;
  color: white;
  animation: test  2s forwards ease-in-out;
}

@keyframes test {
  from {
  margin-top:25%;
  margin-left:50%;
  width: 0vw;
  height: 0vh;}
  to {
    margin-top:0;
    left:0;
    width: 100vw;
    height: 100vh;}
  }

.hero_text{
  margin-top: 200px;
  margin-left: 300px;
}
.hero_text h1{
  font-family: "Rubik";
  font-size: 80px;
}
.hero_text p{
  color: #868686;
  font-family: "Abel";
  font-size: 30px;
  text-align: start;
}
.hero_list{
  margin-left: 190px;
  margin-top: 150px;
  height: 300px;
  width: 85vw;
}

.hero_list ul li{
  bottom: 1px solid red;
  width: 250px;
  height: 168px;
  background-repeat: no-repeat;
  background-size: 78px 78px;
  background-position: center;
  background-color: white;
  margin-right: 56px;
  border-radius: 10px;
  /* transition-property: background-image ; */
}
li:nth-child(1){
  background-image: url(img/icon-1.png);
  box-shadow: 0px 15px 60px #4091FB;
}

li:hover {
  transform:  scale(1.1) ;
}
.icon2{
  background-image: url(img/icon-2.png);
  box-shadow: 0px 15px 60px #7FE7C6;
}
.icon3{
  background-image: url(img/icon-3.png);
  box-shadow: 0px 15px 60px #DF8CC4;
}
.icon4{

  background-image: url(img/icon-4.png);
  box-shadow: 0px 15px 60px #F4A382;
}