body {}

.a1 {
  background: rgb(122, 207, 249);
}

.a2 {
  background: rgb(34, 141, 224);
  color: white;
}

.b {
  background: rgb(0, 128, 0);
  color: white;

}

.c1 {
  background: rgb(220, 77, 77);
}

.c2 {
  background: rgb(130, 17, 17);
  color: white;
}

.c3 {
  background: rgb(229, 9, 9);
  color: white;
}

.d1 {
  background: rgb(216, 147, 219);
}

.d2 {
  background: rgb(201, 61, 208);
}

.d3 {
  background: rgb(162, 26, 169);
}

.d4 {
  background: rgb(112, 14, 117);
  color: white;
}